# Admin devs will be put on all pull request to be reviewed.
*                   @hydroponics-system/admin-dev

# Require backend dev approval for anything in the src folder, except for any resouce files.
*.java              @hydroponics-system/backend-dev

# Require devops approval for any files dealing with the github actions or properties files.
/*                  @hydroponics-system/devops-dev
*.properties        @hydroponics-system/devops-dev
*.yml               @hydroponics-system/devops-dev
*.md                @hydroponics-system/devops-dev
*.gradle            @hydroponics-system/devops-dev
